{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}
    {{ rating.name }}
{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/сhart.bundle.min.js' %}"></script>
    <script>
        var graph_data = {{ graph_data|safe }};
        console.log(graph_data)
        var myChart = new Chart('rating_chart', {
            type: 'line',
            data: {
                datasets: graph_data
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time'
                    }]
                }
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="rating-details">
        <h1>{{ rating.name }}</h1>

        {% if rating.description %}
            <p class="d-print-none">{{ rating.description }}</p>
        {% endif %}

        {% if rating_results %}
            <p>{% trans 'Rating date' %} {{ rating_date }}</p>

            {% if is_last %}
                <p class="d-print-none">
                    <a href="{% url 'rating_tournaments' rating.slug %}">
                        {% trans 'What tournaments were included to the rating?' %}
                    </a>
                </p>
            {% endif %}
            <canvas id="rating_chart" class="d-none d-md-block d-print-none"></canvas>
            {% include 'rating/_results_table.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ rating.description }}">
    <meta property="og:description" content="{{ rating.description }}">
{% endblock %}